//global
footer{
    position: sticky;
    bottom: 0;
    text-align: center;
    width: 100%;
}

// Override Bootstrap
.list-group-item.active{
    background-color: #17a2b8;
    border-color: #17a2b8;
}
a:any-link{
    text-decoration: none;
    color: #17a2b8;
}
